* {
  font-family: "Quicksand", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  user-select: none;
}

.drizzlr-modal {
  max-height: 35rem !important;
  overflow-y: auto !important;
}

.card-header {
  display: flex !important;
  border-bottom: 1px solid #d3d8de;
  margin: -20px -20px 10px -20px;
  padding: 5px 10px 5px 10px;
  font-size: 1.1rem;
  align-items: center;
  border-radius: 12px 12px 0 0;
}

.card-header-light {
  background-color: #eff2f5;
}

.card-header-dark {
  background-color: #1c2025;
}

.link-hover:hover {
  background-color: #eee;
  transition: all 0.75s;
  color: #3e3e3e;
}

.boxshadow {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 0.2rem 0.3rem 0.1rem rgba(0, 0, 0, 0.1);
}

.outline {
  background-color: none;
  border: 0.2rem;
}

.no-select {
  user-select: none;
}

.bg-blur {
  backdrop-filter: blur(1px) opacity(0.7);
}

main {
  margin-top: 70px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-temp {
  font-size: 3rem;
  font-family: "Quicksand";
}

.main-title {
  display: flex;
  align-items: center;
}

.main-icon {
  width: 5rem;
}

.main-condition {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  font-family: "Quicksand";
  font-weight: 600;
  color: #4cbcec;
}

.main-alt-temps {
  text-align: center;
  font-size: 1.25rem;
}

.main-refresh {
  align-self: center;
  margin-left: auto !important;
  font-size: 0.8rem !important;
  font-weight: 600 !important;
}

/* WIND */
.wind-direction {
  font-size: 1.5rem;
  color: #4cbcec;
  display: flex;
}

.wind-arrow {
  fill: #4cbcec !important;
  height: 1.5rem !important;
  width: 1.5rem !important;
  margin-right: 0.5rem;
  transition: 10s;
}

.wind-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.wind-speed {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.wind-speed-units {
  color: gray;
  font-size: 1.2rem;
}

.wind-speed-units.small {
  font-size: 0.8rem;
}

@media only screen and (min-width: 768px) {
  .wind-arrow {
    width: 3rem !important;
    height: 3rem !important;
    margin-right: 1rem !important;
  }
  .wind-direction {
    font-size: 3rem;
  }
  .wind-speed {
    font-size: 3rem;
    margin-left: 1.5rem;
  }
  .wind-speed-units {
    font-size: 1.25rem;
  }
  .wind-speed-units.small {
    font-size: 1rem;
  }
  .wind-contents {
    margin-top: 3rem;
  }
}

.arrow-wnw {
  transform: rotate(22.5deg);
}
.arrow-nw {
  transform: rotate(45deg);
}
.arrow-nnw {
  transform: rotate(67.5deg);
}
.arrow-n {
  transform: rotate(90deg);
}
.arrow-nne {
  transform: rotate(112.5deg);
}
.arrow-ne {
  transform: rotate(135deg);
}
.arrow-ene {
  transform: rotate(157.5deg);
}
.arrow-e {
  transform: rotate(180deg);
}
.arrow-ese {
  transform: rotate(-157.5deg);
}
.arrow-se {
  transform: rotate(-135deg);
}
.arrow-sse {
  transform: rotate(-112deg);
}
.arrow-s {
  transform: rotate(-90deg);
}
.arrow-ssw {
  transform: rotate(-67.5deg);
}
.arrow-sw {
  transform: rotate(-45deg);
}
.arrow-wsw {
  transform: rotate(-22.5deg);
}
/* .arrow-w {
  transform: rotate(180deg);
} */

.wiggle-slow {
  animation: wiggle-medium 3s;
  animation-iteration-count: infinite;
}
.wiggle-medium {
  animation: wiggle-medium 1s;
  animation-iteration-count: infinite;
}
.wiggle-fast {
  animation: wiggle-medium 0.3s;
  animation-iteration-count: infinite;
}

@keyframes wiggle-medium {
  0% {
    transform: rotate(-1deg);
  }
  10% {
    transform: rotate(-2deg);
  }
  40% {
    transform: rotate(1deg);
  }
  70% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(1deg);
  }
}

/* HEADER */

.menubar {
  margin: -8px -8px 0px -8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 2.5rem;
  width: 100%;
}

.menu-items {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
}

.menu-units {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0 0.5rem 0;
}

.logo {
  font-size: 1.6rem;
  font-family: "Quicksand";
  font-weight: 700;
  margin-right: auto;
  user-select: none;
}

.logo:hover span {
  opacity: 1;
}

.logo-icon {
  margin-right: 0.7rem;
}

/* DRAWER */

.menu-drawer {
  z-index: 9998;
}

/* FOOTER */
.footerbar {
  margin: -8px -8px 0px -8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  height: 1rem;
}

.version {
  font-size: medium;
  font-family: "Quicksand";
  font-weight: 700;
  margin-right: auto;
  user-select: none;
}

.text-hidden {
  opacity: 0;
  transition: 0.3s;
}

.version:hover span {
  opacity: 1;
}

.version-link {
  color: gray !important;
}

.version-link:hover {
  text-decoration: none;
}

/* Leaflet */
#map {
  height: 180px;
}

/* PAGES */

.page-home {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  .page-home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* ALERTS */

.alerts-div {
  margin-left: 1rem;
  justify-content: center !important;
  cursor: pointer;
}

.alerts-icon {
  height: 1.5rem !important;
  width: 1.5rem !important;
  animation-name: orangepulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease;
  transition: 0.2s !important;
}

.alerts-icon:hover {
  height: 1.6rem !important;
  width: 1.6rem !important;
  /* filter: drop-shadow(0px 2px 6px rgb(0 0 0 / 0.2)); */
}

@keyframes orangepulse {
  from {
  }
  to {
    fill: orange;
  }
}
